/**
 * Copyright (CÅj National Institute of Information and Communications Technology 2013
 */
.floatleft { float: left; }
.floatright { float: right; }
.center { text-align: center; }
.center-box {
	display:block;
	margin: 0 auto;
}
.nobox {
	border: none;
}
.box {
	border:1px solid #d5d5d5;
}
.box2 {
	border:2px solid black;
}
.fill {
	width:100%;
	height:100%;
}
.hfill {
	width:100%;
}
.vfill {
	height:100%;
}
.readonly {
	border: none;
}
.nowrap {
	white-space:nowrap;
}

div.vertical {
	display:block;
	width:100%;
	min-width: 640px;
}
div.horizontal {
	display:block;
	height:100%;
}
div.scrollable {
	height:200px;
	display:block;
	overflow:auto;
}
div.dialog-wide {
	display:none;
	position:fixed;
	top: 100px; left:100px;
	width:640px;
	height:260px;
	min-width:640px;
	mix-height:240px;
	overflow:hidden;
	background-color:white;
}
div.dialog-nallow {
	display:none;
	position:fixed;
	top: 100px; left:100px;
	width:400px;
	height:480px;
	min-width:120px;
	min-height:240px;
	overflow:hidden;
	background-color:white;
}
div.dialog-large {
	display:none;
	position:fixed;
	top: 100px; left:100px;
	width:640px;
	height:480px;
	min-width:120px;
	min-height:240px;
	overflow:hidden;
	background-color:white;
}

span.link {
	cursor:pointer;
	color:blue;
}
span.link:hover {
	cursor:pointer;
	text-decoration: underline;
}
span.btn {
	cursor:pointer;
	border:1px solid black;
	width:20px;
	margin-top:2px;
	margin-right:0.4em;
	background-color:silver;
	text-align:center;
	font-family: monospace;
}
span.btn:hover {
	cursor:pointer;
	border:1px solid red;
	width:20px;
	margin-top:2px;
	margin-right:0.4em;
	background-color:silver;
	text-align:center;
	text-decoration: underline;
	font-family: monospace;
}
span.h3 {
	font-weight: bold;
	font-size: large;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	margin-left: 4px;
	margin-right: 0px;
}
span.h4 {
	font-weight: bold;
}
span.error {
	color:red;
}

ul.tree {
	list-style-type:none;
	margin-left:0.1em;
}
ul.tree li {
	list-style-type:none;
	margin-top:4px;
	/*white-space:nowrap;*/
}
ul.tree li span {
	white-space:nowrap;
}
li.tree0 { padding-left:0em; }
li.tree1 { padding-left:1em; }
li.tree2 { padding-left:2em; }
li.tree3 { padding-left:3em; }
li.tree4 { padding-left:4em; }
li.tree5 { padding-left:5em; }
li.tree6 { padding-left:6em; }
li.tree7 { padding-left:7em; }
li.tree8 { padding-left:8em; }
li.tree9 { padding-left:9em; }
li.tree10 { padding-left:10em; }
li.tree11 { padding-left:11em; }
li.tree12 { padding-left:12em; }
li.tree13 { padding-left:13em; }
li.tree14 { padding-left:14em; }
li.tree15 { padding-left:15em; }
li.tree16 { padding-left:16em; }
li.tree17 { padding-left:17em; }
li.tree18 { padding-left:18em; }
li.tree19 { padding-left:19em; }
li.tree20 { padding-left:20em; }

ul.horizontal {
	display:inline;
	list-style-type:none;
	float:left;
	margin-top:4px;
	margin-bottom:4px;
}
ul.horizontal li {
	display:inline;
	list-style-type:none;
	float:left;
}

div#wrapper {
	padding:4px;
	width:100%;
}
div#category-tree {
	width:39%;
}
div#new-list {
	width:60%;
}

table { border:1px solid #d5d5d5; }
th { 
		border:1px solid #d5d5d5; 
	white-space: nowrap;
	text-align:left;
}
td { 
		border:1px solid #d5d5d5; 
	white-space: nowrap;
}
td.nallow { 
	width:40px;
}
td.middle {
	width:80px;
}

