.element{
	display: block;
	border: 2px gray solid;
	padding: 4px;
	margin: 2px;
	clear: both;
	background-color: #EEFEFE;
}
.element-header {
	display: block;
	margin: 1px;
	clear: both;
}
.element-title {
	display: block;
	float: left;
	margin: 2px;
	padding: 1px;
	font-size: large;
	font-weight: bold;
}
.attr-list {
	display: block;
	float: left;
	margin: 2px;
	padding: 1px;
}
.attr {
	display: block;
	border: 1px gray solid;
	margin: 2px;
	padding: 1px;
	background-color: white;
}
.element-content {
	display: block;
	border: 1px gray solid;
	padding: 4px;
	background-color: white;
}
.download-btn {
	border: 1px black solid;
	color: white;
	background-color: #408888;
	padding: 2px;
	margin-left: 4px;
}
